<section class="section">
  <div class="wrap">
    <div class="form-shell" style="text-align:center;">
      <h1 class="section-title">Thank you!</h1>
      <p>Your <%= kind === 'volunteer' ? 'volunteer' : 'employment' %> application has been received by the Town of Sutton. Staff will follow up if your qualifications match a current or upcoming opening.</p>
      <a class="btn btn-primary" href="/vacancies">View other vacancies</a>
      <a class="btn btn-outline" style="color:#16294a;border-color:#16294a;" href="/">Return home</a>
    </div>
  </div>
</section>
